html, body{
  font-size: 100%;
  font-family: '微软雅黑', sans-serif;
  background:#ffffff;
}
ul li,ol li{
  font-size:14px;
}
p{
  margin:0;
  font-size:0.9em;
}
h1,h2,h3,h4,h5,h6,a{
  font-family: '微软雅黑', sans-serif;
  margin:0;
}
ul,label{
  margin:0;
  padding:0;
}
body a:hover{
  text-decoration:none;
}


input[type="submit"],.agileinfo_chat a,.w3_customer_email_right a,ul.dropdown-menu.multi-column ul li a{
  transition:.5s ease-in;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
  
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.fl{
	float: left;
}
.fr{
	float: right;
}